/* COLORS*/
/*
$main: #FFF2F2;
$secondary: #E5E0FF;
$accents: #8EA7E9;
$hover: #7286D3;
*/
$main: #ffffff;
$secondary: #5fb759;
$accents: linear-gradient(145deg, rgba(51,155,158,1) 0%, rgba(104,204,152,1) 100%);


/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}
@mixin flex($justify-content, $align-items, $direction, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
    flex-direction: $direction;
    gap:  $gap;
}



// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}
