/* COLORS*/

$main: #ffffff;
$secondary: #e8e8e8;
$accents: #8EA7E9;
$hover: #7286D3;
$paragraphColor: rgb(100, 100, 100);

/*FUNCTIONS*/ 
@mixin reset-list-styles {
    li {
        list-style-type: none;
        a{
            color: black;
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}
@mixin flex($justify-content, $align-items, $direction, $gap) {
    display: flex;
    justify-content: $justify-content;
    align-items:  $align-items;
    flex-direction: $direction;
    gap:  $gap;
}

.mainBtn {
  color: white;
  background-color: $accents;
  text-decoration: none;
  padding: .7rem 1.5rem;
  transition: .3s ease-in-out;
  cursor: pointer;
  font-size: 18px;
  &:hover {
    background-color: $hover;
    border-radius: 15px;
  }
}

