@import '_variables';

footer{
    height: 5rem;
    width: 100%;
    background: $accents;
    padding: 0 6rem;
    color: white;
    @include flex(_, center, _, _);
    p{
        font-size: 18px;
    }
}