@import '_variables';

.hero{
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    .hero-img{ 
        height: 65vh;
        width: 50%;
        img{
            height: 100%;
        }
    }
    .hero-info{
        text-align: center;
        width: 50%;

        h1{
            font-size: 2.5rem;
            letter-spacing: .3rem;
            margin-bottom: 1rem;
            text-transform: capitalize;
        }
        p{ 
            font-size: 1.5rem;
            margin-bottom: 2rem;

            color: $paragraphColor;
        }
    }
}
.services{
    height: 80vh;
    padding: 2rem 0;
    background-color: $secondary;
    @include flex(space-around, center, column, _);
    .services-info{
        text-align: center;
        width: 50%;
        h1{
            padding-bottom: 1rem;
            margin: 0 auto;
            width: fit-content;
            border-bottom: 1px solid $paragraphColor;
        }
        p{
            padding-top: 1rem;
            color: $paragraphColor;
            font-size: 22px;

        }
    }
    .mySwiper{
        width: 100%;
        height: 60%;
        padding: 0 4rem;
        .service{
            width: 100%;
            text-align: center;
            @include flex(space-evenly, center, column, _);
            height: 90%;
            i{
                font-size: 4rem;
            }
            h1{
                font-size: 24px;
                font-weight: 400;
            }
            p{ 
                color: $paragraphColor;
                font-size: 16px;
            }
        }
    }
}
.features {
    @include flex(space-between, center, _, _);
    padding: 1rem 2rem;

    .feature-img{
        width: 50%;
        img{
            width: 80%;
        }
    }
    .features-content{
        @include flex(_, _, column, 2rem);
        padding: 1rem;

        .title{
            h1{
                font-size: 2.5rem;
                letter-spacing: .2rem;
                margin-bottom: 1rem;
                width: fit-content;
                text-transform: capitalize;
                border-bottom: 1px solid $secondary;
            }
            p{
                color: $paragraphColor;
                font-size: 1.2rem;
            }
        }
        .feature{
            padding: 1.5rem;
            @include flex(_, _, column, 1rem);

            i {
                font-size: 3rem;
            }
            h1{
                font-weight: 500;
            }
            p {
                color: $paragraphColor;
            }
        }
    }
}
.second {
    flex-direction: row-reverse;
}
.portfolio{
    border: 1px solid red;
    .portfolio-text{
        height: 10rem;
        padding: 2rem 0;
        text-align: center;
        h1{
            font-size: 2.5rem;
            letter-spacing: .2rem;
            padding-bottom: 1rem;
            width: fit-content;
            margin: 0 auto;
            text-transform: capitalize;
            border-bottom: 1px solid $secondary;
        }
        p{
            color: $paragraphColor;
            font-size: 1.2rem;
            margin: 1rem 0;
        }
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        margin-top: 3rem;
        .project{
            width: 25%;
            height: 21rem;
            position: relative;
            p {
                position: absolute;
                top: 7rem;
                left: 0;
                width: 100%;
                text-align: center;
                font-size: 2.5rem;
                font-weight: 500;
                padding: 1rem;
                margin: 0;
                opacity: 0; 
                color: $hover;
                transition: opacity 0.3s ease;
              }
              &:hover {
                img {
                  filter: blur(5px); 
                }
                p {
                  opacity: 1; 
                }
            }
            img{
                width: 100%;
                object-fit: cover;
                transition: filter 0.3s ease;
            }

        }
    }
}
.newsletter{
    height: 70vh;
    border: 1px solid green;
    background-color: $secondary;
    @include flex(center, center, column, 2rem);
    .newsletter-text{
        h1{
            font-size: 2.5rem;
            letter-spacing: .2rem;
            padding-bottom: 1rem;
            width: fit-content;
            margin: 0 auto;
            text-transform: capitalize;
            border-bottom: 1px solid grey;
        }
        p{
            color: $paragraphColor;
            font-size: 1.2rem;
            margin: 1rem 0;
        }
    }
    form {
        width: 40%;
        @include flex(center, center, column, 2rem);
        input{
            width: 100%;
            height: 2rem;
            padding: 1.5rem;
            border: 1px solid grey;
            border-radius: 0;
            outline: none;
        }
        button{
            border: none;
            width: 35%;
            height: 3rem;
            cursor: pointer;
            letter-spacing: .3rem;
        }   
    }
}